<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thico Films</title>
    <!-- Importando fontawesome -->
    <script src="https://kit.fontawesome.com/f7e0800341.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Importando o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Importando Fonte -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Importando CSS -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <!-- Header - Início -->
    <header class="container header">

        <div class="row">

            <div class="col-12 header_area">
                <div class="row">
                    <!-- LOGO DO SITE -->
                    <div class="col-12 col-sm-12 col-lg-2">
                        <img src="../images/LOGO.png" class="img-fluid logo" alt="Logo do site">
                    </div>
                    <!-- NAV DO SITE -->
                    <div class="col-12 col-sm-12  col-lg-9" id="menu_nav">
                        <nav class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link active" href="#lancamentos">Lançamentos</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#novidades">Novidades</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#destaque">Em destaque</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Informações adicionais
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#entrevistas">Entrevistas &amp; Making Of</a></li>
                                    <li><a class="dropdown-item" href="#avaliacoes">Avaliações</a></li>
                                </ul>
                            </li>
                            <a class="flex-sm-fill text-sm-center nav-link" href="./pesquisar.html">Outros filmes</a>
                        </nav>
                    </div>

                </div>
            </div>

        </div>

    </header>
    <!-- Header - Fim -->
    <!-- Main - Início -->
    <main class="container main">

        <div class="container-carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner" id="conteudo-carousel">
                    <div class="carousel-item active">
                        <h1 class="lancamentos" id="lancamentos">LANÇAMENTOS</h1>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/411aCkoMEmU"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="container-info">
                                    <h2>ESPIRAL – O Legado de Jogos Mortais</h2>

                                    <p><strong>Sinopse:</strong> Banks (Chris Rock) se une ao seu parceiro novato Willem
                                        (Max Minghella) para
                                        desvendar uma série de assassinatos terríveis que estão acontecendo na cidade.
                                        Durante as investigações, Zeke acaba se envolvendo no mórbido jogo do assassino.
                                    </p>
                                    <span><strong>Diretor:</strong> Darren Lynn</span>
                                    <span><strong>Roteiro:</strong> Josh Stolberg</span>
                                    <span><strong>Ano:</strong> 06/05/2021</span>
                                    <h5><strong>Elenco:</strong></h5>
                                    <span id="atores">Chris Rock</span>
                                    <span id="atores">Max Minghella</span>
                                    <span id="atores">Marisol Nichols</span>
                                    <span id="atores">Samuel L Jackson</span>
                                    <div class="container-avaliacao">
                                        <h5><strong>Avaliação:</strong></h5>
                                        <div class="rating">
                                            <input type="radio" name="estrela" id="star1"><label for="star1"></label>
                                            <input type="radio" name="estrela" id="star2"><label for="star2"></label>
                                            <input type="radio" name="estrela" id="star3"><label for="star3"></label>
                                            <input type="radio" name="estrela" id="star4"><label for="star4"></label>
                                            <input type="radio" name="estrela" id="star5"><label for="star5"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="lancamentos">LANÇAMENTOS</h1>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tAbDbvopveg"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="container-info">
                                    <h2>SHANG-CHI e a lenda dos dez aneis</h2>

                                    <p><strong>Sinopse:</strong> Shang-Chi é um jovem chinês criado por seu pai em
                                        reclusão, sendo treinado em artes marciais. Quando ele tem a chance de entrar em
                                        contato com o resto do mundo, logo percebe que seu pai não é o humanitário que
                                        dizia ser, vendo-se obrigado a se rebelar.
                                    </p>
                                    <span><strong>Diretor:</strong> Destin Cretton</span>
                                    <span><strong>Roteiro:</strong> Dave Callaham</span>
                                    <span><strong>Ano:</strong> 03/09/2021</span>
                                    <h5><strong>Elenco:</strong></h5>
                                    <span id="atores">Simu Liu</span>
                                    <span id="atores">Tony Leung</span>
                                    <span id="atores">Awkwafina</span>
                                    <span id="atores">Meng'er Zhang</span>
                                    <div class="container-avaliacao">
                                        <h5><strong>Avaliação:</strong></h5>
                                        <div class="rating">
                                            <input type="radio" name="estrela" id="star1"><label for="star1"></label>
                                            <input type="radio" name="estrela" id="star2"><label for="star2"></label>
                                            <input type="radio" name="estrela" id="star3"><label for="star3"></label>
                                            <input type="radio" name="estrela" id="star4"><label for="star4"></label>
                                            <input type="radio" name="estrela" id="star5"><label for="star5"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="lancamentos">LANÇAMENTOS</h1>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQA-Bg9MydE"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="container-info">
                                    <h2>GODZILLA VS KONG</h2>

                                    <p><strong>Sinopse:</strong> Em Godzilla vs Kong, duas poderosas forças da natureza
                                        vão se enfrentar em uma grande batalha. Enquanto a organização científica
                                        secreta Monarch caça, investiga e estuda a origem dos Titãs, uma conspiração tem
                                        a intenção de acabar com todas as criaturas, sejam elas ameaçadoras ou não. O
                                        mundo sobreviverá ao duelo de monstros?
                                    </p>
                                    <span><strong>Diretor:</strong> Adam Wingard</span>
                                    <span><strong>Roteiro:</strong> Max Borestein</span>
                                    <span><strong>Ano:</strong> 25/03/2021</span>
                                    <h5><strong>Elenco:</strong></h5>
                                    <span id="atores">Kyle Chandler</span>
                                    <span id="atores">Millie Bobby</span>
                                    <span id="atores">Rebecca Hall</span>
                                    <span id="atores">Alexander Skarsgard</span>
                                    <div class="container-avaliacao">
                                        <h5><strong>Avaliação:</strong></h5>
                                        <div class="rating">
                                            <input type="radio" name="estrela" id="star1"><label for="star1"></label>
                                            <input type="radio" name="estrela" id="star2"><label for="star2"></label>
                                            <input type="radio" name="estrela" id="star3"><label for="star3"></label>
                                            <input type="radio" name="estrela" id="star4"><label for="star4"></label>
                                            <input type="radio" name="estrela" id="star5"><label for="star5"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="lancamentos">LANÇAMENTOS</h1>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sX1_buHj3wA"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="container-info">
                                    <h2>Mortal Kombat</h2>

                                    <p><strong>Sinopse:</strong> Em Mortal Kombat, Shang Tsung, imperador da Exoterra,
                                        envia seu melhor guerreiro, Sub-Zero, para assassinar o jovem Cole Young.
                                        Temendo pela segurança da família, Cole vai em busca de Sonya Blade seguindo a
                                        indicação de Jax. Será que Cole irá longe o suficiente para
                                        desbloquear sua arcana
                                        - o imenso poder da sua alma - a tempo de salvar não apenas a família, mas
                                        interromper os planos de Shang Tsung de uma vez por todas?
                                    </p>
                                    <span><strong>Diretor:</strong> Simon McQuoid</span>
                                    <span><strong>Roteiro:</strong> Greg Russo</span>
                                    <span><strong>Ano:</strong> 15/04/2021</span>
                                    <h5><strong>Elenco:</strong></h5>
                                    <span id="atores">Joe Taslim</span>
                                    <span id="atores">Ludi Lin</span>
                                    <span id="atores">Jessica McNamee</span>
                                    <span id="atores">Lewis Tan</span>
                                    <div class="container-avaliacao">
                                        <h5><strong>Avaliação:</strong></h5>
                                        <div class="rating">
                                            <input type="radio" name="estrela" id="star1"><label for="star1"></label>
                                            <input type="radio" name="estrela" id="star2"><label for="star2"></label>
                                            <input type="radio" name="estrela" id="star3"><label for="star3"></label>
                                            <input type="radio" name="estrela" id="star4"><label for="star4"></label>
                                            <input type="radio" name="estrela" id="star5"><label for="star5"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Em destaque -->
        <section class="destaque">
            <div class="row">
                <div class="col-12">
                    <h2 class="destaque" id="destaque">Em destaque</h2>
                </div>
                <div class="col-2">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categoria: TODOS
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#">Aventura</a></li>
                            <li><a class="dropdown-item" href="#">Romance</a></li>
                            <li><a class="dropdown-item" href="#">Comédia</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container-posters">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 posters">
                        <img src=".././images/Soul.jpg" class="img-fluid" alt="Poster de filme em destaque 01">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 posters">
                        <img src=".././images/LigaDaJusticaSnyder.jpg" class="img-fluid"
                            alt="Poster de filme em destaque 02">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 posters">
                        <img src=".././images/Parasite.jpg" class="img-fluid" alt="Poster de filme em destaque 03">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 posters">
                        <img src=".././images/AvengersInfinityWar.jpg" class="img-fluid"
                            alt="Poster de filme em destaque 04">
                    </div>
                </div>
            </div>
            <div class="container btn_more">
                <div class="row">
                    <div class="col-12">
                        <div class="container justify-content-md-end">
                            <button type="button" class="btn btn-secondary btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>Carregar mais filmes
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Avaliações -->
        <section class="avaliacoes">
            <div class="col-12">
                <h2 class="destaque" id="avaliacoes">Últimas avaliações</h2>
            </div>
            <div class="container avaliations">
                <div class="row">
                    <div class="card col-12 col-lg-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src=".././images/dfideliz.jpg" class="img img-rounded img-fluid">
                                </div>
                                <div class="col-8">
                                    <p>
                                        <a class="float-left" href="#"><strong>Cortano de Giro</strong></a>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                                    </p>
                                    <div class="clearfix"></div>
                                    <p>Macacos me mordam!<br>
                                        Não sabia que Emilia Clarke tinha entrado para o elenco de Secret Invasion, mal
                                        posso
                                        esperar para ver ela atuando!
                                        <br><br>
                                        <em>PS:</em> Adorei o site, ótimas recomendações de filmes e séries.
                                    </p>
                                    <p>
                                    <p class="text-secondary">25/04/2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-lg-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src=".././images/placeholder.jpg" class="img img-rounded img-fluid">
                                </div>
                                <div class="col-8">
                                    <p>
                                        <a class="float-left" href="#"><strong>Caio da XJ6</strong></a>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star-half"></i></span>
                                    </p>
                                    <div class="clearfix"></div>
                                    <p>O site é incrível.
                                        <br>
                                        Porém estava vendo uma das avaliações de Guerra Infinita e me deparei com um
                                        spoiler
                                        <br>
                                        Lamentável, lamentável.
                                        <i class="far fa-sad-tear" title="Sad emoji"></i>
                                    </p>
                                    <p class="text-secondary">12/04/2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-lg-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src=".././images/Lucasbrocano.jpg" class="img img-rounded img-fluid">
                                </div>
                                <div class="col-8">
                                    <p>
                                        <a class="float-left" href="#"><strong>Lucas desPenteado</strong></a>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                                    </p>
                                    <div class="clearfix"></div>
                                    <p>Adorei o site, ótimas recomendações.
                                        <br>
                                        Ontem comecei a assistir Parasite depois de ver a recomendação aqui e... gente.
                                        Que filme incrível né?
                                        <br>
                                        Adorei o site, vou procurar mais filmes para assistir e volto com mais
                                        avaliações!
                                    <p>
                                    <p class="text-secondary">20/04/2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container btn_more">
                <div class="row">
                    <div class="col-12">
                        <div class="container justify-content-md-end">
                            <button type="button" class="btn btn-secondary btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>Carregar mais comentários
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Entrevistas e Making Of -->
        <div class="container enterview">
            <div class="row">
                <h2 class="destaque" id="entrevistas">Entrevistas &amp; Making of</h2>
                <div class="col-12 col-sm-12 col-lg-4">
                    <div class="container-video">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yTtTFE5Huxg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="container-infos">
                        <h5><strong>Filme:</strong> Mortal Kombat</h5>
                        <h6><strong>Diretor:</strong> Simon McQuioid</h6>
                        <h6 class="h6_format"><strong>Roteiro:</strong> Greg Russo</h6>
                        <h6 class="h6_format"><strong>Estreia:</strong> 2021</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4">
                    <div class="container-video">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rig-KKe2wAA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="container-infos">
                        <h5><strong>Filme: </strong>WandaVision</h5>
                        <h6><strong>Diretor: </strong>Matt Shakman</h6>
                        <h6 class="h6_format"><strong>Roteiro: </strong>Peter Cameron</h6>
                        <h6 class="h6_format"><strong>Estreia: </strong> 2021</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4">
                    <div class="container-video">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zICxsKAUO0k"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="container-infos">
                        <h5><strong>Filme:</strong> Nomadland</h5>
                        <h6><strong>Diretor:</strong> Chloé Zhao</h6>
                        <h6 class="h6_format"><strong>Roteiro:</strong> Chloé Zhao</h6>
                        <h6 class="h6_format"><strong>Estreia:</strong> 2021</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container btn_more">
            <div class="row">
                <div class="col-12">
                    <div class="container justify-content-md-end">
                        <button type="button" class="btn btn-secondary btn-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>Carregar mais conteúdo
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Novidades e SOBRE -->
        <section class="news" id="news">
            <div class="row">
                <h2 class="destaque" id="novidades">Novidades</h2>
            </div>
            <div class="container-news">
                <div class="row container-novidades">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                        <img src="../images/homem-aranha-aranhaverso.jpg" class="img-fluid" alt="Imagem Novidade">
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-8">
                        <h5 class="conteudo-novidades">Mais aranhas por vir</h5>
                        <p class="conteudo-novidades-frase">
                            <strong>Joaquim dos Santos</strong>, <strong>Kemp Powers</strong> e <strong>Justin K.
                                Thompson</strong> são os diretores anunciados para a sequência de <em>Homem-Aranha no
                                Aranhaverso</em>.
                            <br>
                            O longa tem previsão de lançamento para o ano que vem, no entanto, sem datas confirmadas
                            ainda.
                        </p>
                        <div class="d-grid gap-2 d-md-block">
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Marvel</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Série</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Novidades</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row container-novidades">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                        <img src="../images/doutor-estranho-no-multiverso-da-loucura.jpg" class="img-fluid"
                            alt="Imagem Novidade">
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-8">
                        <h5 class="conteudo-novidades">Novidades no Mundo Estranho</h5>
                        <p class="conteudo-novidades-frase">
                            Como informado por <strong>Kevin Feige</strong> (diretor da Marvel Studios), as gravações de
                            <em>"Doutor Estranho no Multiverso da Loucura"</em> estão para se encerrar.
                            <br>
                            Com previsão de estreia para dia 24/04/2022, já podemos contar com a presença do
                            <strong>Doutor Estranho</strong>, <strong>Feiticeira Escarlate</strong> e <strong>America
                                Chavez</strong>.
                        </p>
                        <div class="d-grid gap-2 d-md-block">
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Marvel</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Filme</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Novidades</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row container-novidades">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                        <img src="../images/Emilia-Clarke-Invasao-Secreta.jpg" class="img-fluid" alt="Imagem Novidade">
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-8">
                        <h5 class="conteudo-novidades">Marvel aumentando seu elenco</h5>
                        <p class="conteudo-novidades-frase">
                            A famosíssima atriz <strong>Emilia Clarke</strong> (Conhecida como <strong>Rainha Daenerys
                                Targaryen</strong> em Game of
                            Thrones) entrou em negociações finais hoje (20/04) para se juntar à nova série da Marvel:
                            Invasão secreta. <br>
                            Alguns grandes nomes do cinema Americano já foram confirmados à série, tais como
                            <strong>Olivia Colman</strong>, <strong>Samuel L. Jackson</strong>, <strong>Ben
                                Mendelsohn</strong> e <strong>Kingsley Ben-Adir</strong>.
                        </p>
                        <div class="d-grid gap-2 d-md-block">
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Marvel</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Série</span>
                            <span class="badge rounded-pill bg-secondary" style="font-size: 1rem;">Elenco</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-about">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                        <h2 class="destaque">Sobre</h2>
                        <p class="conteudo-novidades">Me chamo <strong>Thiago de Campos</strong> e sou um estudante de
                            Ciência da
                            Computação na <em>PUC MINAS</em> (1º Período - 2021) . Fiz esse portal de filmes atentendo o
                            pedido
                            da
                            matéria EAD - Desenvolvimento WEB. Menções honrosas ao meu amigo <strong>Matheus
                                Sales</strong>, estudante de
                            cinema na <em>PUC MINAS</em>, que me orientou com algumas informações sobre filmes no
                            decorrer do trabalho.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <h2 class="destaque">Editorial</h2>
                        <p><strong>Redação:</strong> Matheus Sales</p>
                        <p><strong>Pesquisa:</strong> Thiago Nolasco</p>
                        <p><strong>Gerente Geral:</strong> Thiago Nolasco</p>
                        <h4><strong>Redes sociais:</strong></h4>
                        <a href="https://twitter.com/Thicoooo" target="_blank" title="Twitter do criador da página "><i
                                class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/theeecco/" target="_blank"
                            title="Instagram do criador da página"><i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://github.com/Theeeccoo/" target="_blank" title="Github do criador da página"
                            class="last-one"><i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.instagram.com/salescito01/" target="_blank"
                            title="Perfil com ótimos conteúdos sobre filmes" class="first-one"><i
                                class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- Main - Fim -->

    <!-- Footer - Início -->
    <footer class=" footer">
        <div class="row teste">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 footer_area">
                <p>Copyright 2021 - Disciplina de Desenvolvimento de Interfaces WEB - <strong>ICEI PUC Minas</strong>
                </p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-2 logo">
                <img src=".././images/LOGO.png" class="img-fluid" alt="Logo do site">
            </div>
        </div>
    </footer>
    <!-- Footer - Fim -->

    <!-- Importando os Scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
    <!-- SCRIPT requsição noticias -->
    <script src="../scripts/lançamentos.js"></script>
</body>

</html>